.title {
    text-transform: uppercase;
    text-align: center;
}

.chart {
    position: relative;
}

.bar {
    fill: #DFE5D9
}

.data-circle {
    fill: #EFA93A;
}

.domain {
    fill: #A6A7AC;
}

.highlight {
    fill: #648043;
}

.box-highlight {
    background:  #648043;
    color: #fff;
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    margin-right: 10px;
}

.text-highlight {
    color: #648043;
    font-weight: bold;
}

.tick, text{
    fill: #CDCED3;
}

.line {
    stroke: #EFA93A;
    stroke-width: 3;
    fill: none;
}

.area-5-year-line {
    stroke: #6A8341;
    stroke-width: 3;
    fill: none;
}

.area-10-year-line {
    stroke: #6A8341;
    stroke-width: 3;
    fill: none;
    stroke-dasharray: 3,3;
}

.production-5-year-line {
    stroke: #000;
    stroke-width: 3;
    fill: none;
}

.production-10-year-line {
    stroke: #000;
    stroke-width: 3;
    fill: none;
    stroke-dasharray: 3,3;
}

.pulse {
    position: absolute;
    display: block;
    animation: tooltip-pulse 3s infinite;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    cursor: pointer;
    border-radius: 50%;
    background: rgba(106,131,65, 0.3);
    margin-bottom: 98px;
    transition: 1s;
    transform: scale(1);
}

.pulse:hover {
    animation: step-end;

    transform: scale(1.25) !important;
    box-shadow: none !important;
}

@keyframes tooltip-pulse {
    0% {transform: scale(1); box-shadow: 0 0 0 0 rgba(106,131,65, 0.3);}
    40% {transform: scale(1.25); box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);}
    100% {transform: scale(1); box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);}
}

.d3-tip {
    background: #fff;
    box-shadow: 0 0 10px  rgba(100,100,100,0.5);
    padding: 5px 10px;
    position: absolute;
    width: 200px;
    z-index: 100;
}

.d3-tip:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    -webkit-filter: drop-shadow(0px 4px 2px rgba(100,100,100,0.5));
    filter: drop-shadow(0px 4px 2px rgba(100,100,100,0.5));
}

.legend {
    padding: 140px 10px 0 20px;
}

.legend-row {
    margin-bottom: 20px;
}


.check-box {
    width: 21px;
    height: 21px;
    border: 3px solid #000;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.check-box.active:after {
    content: '×';
    font-weight: lighter;
    font-size: 40px;
    line-height: 22px;
    position: absolute;
    top: -4px;
    left: -4px;
}

.legend-name {
    margin-right: 10px;
}

.area {
    background: #DFE5D9;
    width: 24px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
}

.line-legend {
    vertical-align: middle;
}

.production {
    stroke: rgb(239,169,58);
    stroke-width: 3;
}

.area5year {
    stroke: rgb(106,131,65);
    stroke-width: 5;
}

.area10year {
    stroke: rgb(106,131,65);
    stroke-width: 5;

    stroke-dasharray: 3,3;
}

.production5year {
    stroke: #000;
    stroke-width: 5;
}

.production10year {
    stroke: #000;
    stroke-width: 5;
    stroke-dasharray: 3,3;
}

.border {
    position: absolute;
    background: #9E9EA6;
    width: 100%;
    height: 1px;
}

.source {
    display: block;
    margin-top: 60px;
}