* {
    padding: 0;
    margin: 0;
}


html, body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#map-wrapper {
    position: relative;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#start-draw {
    background: #fff;
    cursor: pointer;
    padding: 10px;
    width: 140px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -70px;
    z-index: 9999;
}

.hide {
    display: none;
}

#instruction {
    background: #fff;
    border: 2px solid #333333;
    padding: 10px;
    width: 140px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -70px;
    text-align: center;
    z-index: 9999;
}