  <html lang="en" >
  <head>
    <title>Fertility care</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/css/style.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbuvDuShPoFALZBSDp5J6ca9Z_EJALPHI&libraries=places"></script>
    <script type="text/javascript" src="assets/libs/lodash.js"></script>
    <script type="text/javascript" src="assets/libs/angular.min.js"></script>
    <script type="text/javascript" src="assets/libs/angular-simple-logger.js"></script>
    <script type="text/javascript" src="assets/libs/angular-google-maps.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/services.js"></script>
    <script src="app/controllers.js"></script>
    <script src="app/filters.js"></script>

  </head>
  <body ng-app="FertilityApp" ng-controller="MainController">
    <div class="searchbox">
      <form name="search">
        <input type="text" placeholder="City or State" ng-model="postalCode" ng-keypress="searchAddressesOnKeypress($event, postalCode)">
      </form>
      <button class="searchbutton" ng-click="searchAddresses(postalCode)"><i class="material-icons">search</i></button>
      <button class="dismissbutton" ng-click="removePostalCode()"><i class="material-icons">close</i></button>
      <button class="back" ng-show='showAddressDetails' ng-click='hideAddressDetails()'><span>Back to results</spam></button>
    </div>
    <aside ng-show='panelVisible'>
      <div class='title' ng-show='!showAddressDetails'></div>
      <p class='error-message' ng-show='noResults()'>We could not find any results for <i>"{{request}}"</i></p>
      <div ng-switch on="showAddressDetails">
        <div ng-switch-when="true">
          <div class="full-image">
            <img ng-if="hasImage(addressDetails)" ng-src={{getAddressFullImg(addressDetails)}}>
          </div>
          <div class="address-title">
            <h1>{{addressDetails.name}}</h1>
          </div>
          <div class="address-details">
            <ul class="address-details-list">
              <li>
                <i class="material-icons">place</i>
                <div class="address-details-content">{{addressDetails.formatted_address}}</div>
              </li>
              <li ng-if="addressDetails.website"><i class="material-icons">public</i>
                <div class="address-details-content"><a ng-href={{addressDetails.website}} target="_blank">{{addressDetails.website}}</a></div></li>
                <li ng-if="addressDetails.international_phone_number || addressDetails.formatted_phone_number">
                  <i class="material-icons">phone</i>
                  <div class="address-details-content">
                    <p>{{addressDetails.international_phone_number}}</p>
                    <p>{{addressDetails.formatted_phone_number}}</p>
                  </div>
                </li>
                <li ng-if="addressDetails.opening_hours">
                  <i class="material-icons">access_time</i>
                  <ul class="opening-hours address-details-content">
                    <li ng-repeat="openingHours in addressDetails.opening_hours.periods" ng-class="{'bold': isToday($index)}">
                      <div class="weekday">{{weekday[$index]}}</div>
                      <div class="period">{{getOpeningHours(openingHours)}}</div>
                    </li>
                  </ul>
                </li>
              </ul>
              <a href={{addressDetails.url}} target="_blank" class="gmaps-link">VIEW ON GOOGLE MAPS</a>
              <div class="reviews" ng-if="hasReviews(addressDetails)">
                <a href="" ng-click="openReviews()">READ REVIEWS</a>
                <ul ng-if="showReviews">
                  <li class="review" ng-repeat="review in addressDetails.reviews">-{{review.text}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div ng-switch-default>
            <ul class="address-list">
              <li ng-repeat="address in addresses">
                <a href="" ng-click="getAddressDetails(address)">
                  <div class="thumbnail" ng-if="hasImage(address)">
                    <img ng-src={{getAddressThumbnail(address)}}>
                  </div>
                  <p>{{address.name}}</p>
                  <p class="muted">{{address.formatted_address}}</p>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <div id="map" ng-class="{'full': !panelVisible}">
          <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' control='map.control'>
          <ui-gmap-markers
          models="map.markers"
          coords="'location'"
          icon="'icon'"
          fit="true" 
          click="chooseAddress">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
  </body>
  </html>-