/**
 * Miami Contaminated Sites
 *
 * Created by Seven Mile Media
 * http://sevenmilemedia.com/
 */

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #111;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 700;
}

p {
    margin-bottom: 10px;
    font-weight: 400;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:visited {
    color: #1E90FF;
}

a:hover {
    color: #00BFFF;
}

a:active {
    color: #00BFFF;
}

#map {
    height: 100vh;
    width: 100%;
}

#nav {
    position: absolute;
    padding: 30px;
    background-color: #fff;
    top: 40px;
    left: 40px;
}

#nav a {
    padding: 0 15px;
}






