body {
    padding-top: 20px;
    font-family: Georgia,'Droid Serif',serif;;
}

ul {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.cat-title {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}

.location {
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.location:hover {
    color: #333;
}

.location-title {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

#map {
    height: 500px;
    width: 100%;
}

.color {
    display: inline-block;
    margin-right: 5px;
    height: 10px;
    width: 10px;
}

.cat {
    display: inline-block;
    margin-right: 20px;
}

.back {
    color: #333;
    font-style: italic;
}

.back:hover {
    color: #333;
}

.info-window {
    border: 1px solid #f00;
}

.infoBox {
    line-height: 24px;
}

.marker:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 10px;
    border-color: transparent transparent transparent #ffffff;
}

.social {
    margin-bottom: 20px;
}

.social li {
    display: inline-block;
    margin-right: 10px;
}