* {
    margin: 0;
    padding: 0;
}

html, body, #map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#panel {
    background: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(100,100,100,0.2);
    padding: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

#autocomplete {
    width: 300px;
}

#message {
    margin-top: 10px;
}