* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
#map {
    height: 100%;
    width: 100%;
}

#map a[href^="http://maps.google.com/maps"]{
    display:none !important
}
#map a[href^="https://maps.google.com/maps"]{
    display:none !important
}
