body {
    background: #fbfcfd;
}

h1, h2, h3 {
    text-align: center;
}

h1.navbar-brand {
    background: url(img/roofr-logo-80px.png) no-repeat center left;
    background-size: contain;
    text-indent: -9999px;
    height: 20px;
    margin: 10px;
}

h2 {
    color: #279bd6;
    font-weight: bold;
    margin: 0;
}

.step-indicator {
    border-collapse: separate;
    position: relative;
    table-layout: fixed;
    vertical-align: middle;
    width: 60%;
    margin: 15px auto 30px;
}

.step-indicator li {
    display: table-cell;
    float: none;
    padding: 0;
    width: 1%;
}

.step-indicator li:first-child:before {
    left: 50%;
}

.step-indicator li:last-child:before {
    right: 50%;
}

.step-indicator li.active:before {
    background-color: #269bd6;
}

.step-indicator .complete .step {
    border-color: #05AE0E;
    color: #05AE0E;
}

.step-indicator li.complete:before {
    background-color: #05ae0e;
}

.step-indicator li:before {
    background-color: #e5e5e5;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    top: 18px;
}

.step-indicator .step {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    color: #e5e5e5;
    font-size: 18px;
    width: 36px;
    height: 36px;
    line-height: 33px;
    border-radius: 18px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.step-indicator .active .step {
    border-color: #269bd6;
    color: #269bd6;
}

.step-indicator .step .fa {
    line-height: 33px;
}

.whyus {
    margin: 30px auto;
}

.whyus {
    text-align: center;
}

.why-us-reason {
    border: 1px solid #eee;
    padding: 12px;
    background: white;
    margin: 0 -0.1%;
}

.whyus .fa {
    margin-bottom: 20px;
    font-weight: 400;
}

.whyus .fa {
    color: #279bd6;
}

footer {
    text-align: center;
    margin-bottom: 1rem;
}

.ruler {
    content: "";
    background: url(img/break.png) no-repeat center center;
    height: 15px;
    width: 100%;
    margin: 1rem auto;
    opacity: 0.25;
}

.item.map {
    width: 100%;
    height: 400px;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
}

.address-search-wrapper {
    background: rgba(0,0,0,0.7);
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.address-search {
    margin-top: 80px;
}

.address-search h3 {
    font-size: 2em;
    margin: 0.67em;
}

.address-search input, .address-search button {
    margin-bottom: 10px;
}

.map-wrapper {
    height: 100%;
    width: 100%;
}

.address-indicator {
    width: 21%;
    vertical-align: top;
    border-right: none;
    background: #fff;
    border-width: 1px 0 0 0;
    position: absolute;
    left: 60px;
    top: 0px;
    z-index: 999;
    padding: 5px 6px;
    margin-top: 13px;
    border-radius: 4px;
}

.address-indicator .edit {
    float: left;
    margin-right: 5px;
}

.button-container {
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 50%;
    margin-left: -100px;
    right: 0;
    z-index: 999;
}

button.round {
    background-color: #279bd7;
    padding: 0;
    color: #fff;
    font-family: 'lato',sans-serif;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    outline: none;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin: 1rem;
    border: 4px solid rgba(255,255,255,0.3);
    pointer-events: all;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

button.round#continue-button {
    background-color: #2fb81e;
    left: auto;
    text-align: center;
}

button.round.back {
    float: left;
    position: fixed;
    left: 50px;
    top: 90px;
    z-index: 9999;
}

button.round[disabled] {
    background: #999!important;
    opacity: 0.5;
}

.slope-container {
    max-width: 900px;
    margin: 0 auto;
}

.carousel {
    position: relative;
}

.carousel label, .carousel label img {
    transition: all 0.2s ease;
}

#map-container .radio-inline {
    vertical-align: top;
}

.carousel label.radio-inline {
    border-radius: 5px;
    border: 4px solid #eee;
    background: #fafafa;
    padding: 5px 30px;
    margin: 0 0 30px;
    width: 24%;
}

.carousel label {
    text-align: center;
}

.carousel label, .carousel label img {
    transition: all 0.2s ease;
}

.carousel label img {
    opacity: 0.6;
}

.carousel label.radio-inline .icon {
    margin: 20px 0 20px 0;
    display: block;
}

.carousel label.radio-inline input {
    display: none;
}

div.leaflet-grab {
    cursor: crosshair;
}

.leaflet-marker-icon.leaflet-interactive, .leaflet-image-layer.leaflet-interactive, .leaflet-pane>svg path.leaflet-interactive {
    border-radius: 50px;
    background: #2196F3;
    border-color: rgba(0,0,0,0.2);
}
