html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#location {
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    height: 40px;
    width: 40px;
    z-index: 1;
}

#location img {
    height: 20px;
    widht: 20px;
}