#wrapper {
    padding: 20px;
    width: 940px;
}

#map-wrapper {
    margin-bottom: 20px;
    position: relative;
}

#map {
    position: relative;
    height: 450px;
    width: 100%;
    z-index: 1;
}

#address-search {
    border: 1px solid #ddd;
    box-shadow: 3px 3px 1px #ccc;
    display: block;
    margin: 0 auto 20px;
    padding: 0 5px;
    line-height: 42px;
    width: 390px;
}

#delete-shapes {
    background: #fff;
    border:none;
    border-radius: 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    font-size: 11px;
    padding: 5px 5px 4px;
    position: absolute;
    top: 5px;
    left: 510px;
    z-index: 2;
}

#delete-shapes:hover {
    background: rgb(235,235,235);
}

.address-details {
    margin-bottom: 20px;
}
