#map-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
}

#map {
    width: 100%;
    height: 100%;
}

#location {
    background: #fff;
    box-shadow: 2px 2px rgba(100,100,100,0.2);
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px;
}

#location img {
    vertical-align: middle;
}