* {
	margin: 0;
	padding: 0;
	border: none;
}

body {
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	overflow: hidden;
}

textarea:focus, input:focus, button{
    outline: none;
}

ul {
	list-style: none;
}

.muted {
	color: #8c8c8c;
}

.bold {
	font-weight: 800;
}

#map {
	box-sizing: border-box;
	margin-left: 408px;
	width: 100%;
	height: 100%;
	z-index: 0;
}

#map.full {
	margin-left: 0;
}

.angular-google-map-container { 
	height: 100%; 
}

.searchbox {
	background-color: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
	padding: 12px 104px 11px 20px;
	position: fixed;
	top: 8px;
	left: 8px;
	height: 48px;
	width: 392px;
	z-index: 2;
}

.searchbox input {
	border: none;
	font-size: 15px;
	height: 24px;
	line-height: 24px;
}

.searchbox button {
	box-sizing: content-box;
	cursor: pointer;
	display: block;
	background: #fff;
	border: none;
	padding: 12px 15px;
	position: absolute;
	height: 24px;
	width: 24px;
}

.material-icons {
	color: #bcbcbc;
}

.searchbox button:hover .material-icons, .searchbox button:active .material-icons {
	color: #4285F4;
}

.searchbutton {
	top: 0;
	right: 56px;
}

.searchbutton::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    border-left: 1px solid #ddd;
    height: 28px;
}

.dismissbutton {
	top: 0;
	right: 2px;
}

.searchbox .back {
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    left: 8px;
    padding: 8px 20px;
    position: fixed;
    right: 8px;
    text-align: left;
    top: 54px;
    height: 31px;
    width: 392px;
    z-index: 5;
}

.searchbox .back span {
	color: #4285F4;
}

.searchbox .back span:hover {
	text-decoration: underline;
}

aside {
	background-color: #fff;
	position: fixed;
	width: 425px;
	height: 100%;
	overflow: auto;
	z-index: 1;
}

.title {
	background-color: #4285F4;
	height: 65px;
	width: 100%;
}

.error-message {
	padding: 10px 20px;
}

.address-list a {
	border-bottom: 1px solid #ddd;
	color: #000;
	display: block;
	padding: 10px 18px 10px 24px;
	text-decoration: none;
	overflow: hidden;
}

.address-list a .muted {
	margin-top: 5px;
}

.address-list a:hover {
	background-color: #fafafa;
}

.address-list a p {
	margin: 0;
}

.address-list .thumbnail {
	max-width: 100%;
	float: right;
}

.address-title {
	background-color: #4285F4;
	font-size: 13px;
	color: #fff;
	padding: 20px 24px 16px;
}

.address-title p, .address-title h1 {
	margin: 0;
}

.address-title h1 {
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 5px;
}

.address-title a {
	color: #fff;
}

.full-image {
	background-color: #4285F4;
	min-height: 90px;
	max-height: 300px;
	overflow: hidden;
}

.full-image img {
	width: 408px;
}

.address-details {
	padding: 20px 24px;
	font-size: 13px;
}

.address-details-list {
	margin-bottom: 20px;
}

.address-details-list .material-icons {
	color: #4285F4;
	font-size: 24px;
	margin-right: 24px;
	vertical-align: top;
}

.address-details-content  {
	max-width: 280px;
}

.address-details-list li .material-icons, .address-details-content{
	display: inline-block;
}

.address-details-list > li {
	margin-bottom: 5px;
}

.opening-hours {
	display: inline-block;
	width: 280px;
}

.address-details-content {
	padding-top: 4px;
}

.weekday, .period {
	display: inline-block;
	width: 100px;
}

.gmaps-link, .reviews a {
	display: block;
	text-decoration: none;
	margin: 10px 0;
}

.review {
	font-style: italic;
	margin: 10px 0;
}


