html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    overflow: hidden;
}
h2 {
    margin: 10px;
}
#map-wrapper {
    position: absolute;
    top: 47px;
    bottom: 0;
    width: 100%;
}
#googft-mapCanvas {
    height: 100%;
    width: 75%;
    float: left;
}
#results-wrapper {
    background:#eee;
    float: right;
    height: 100%;
    padding: 10px;
    width: 25%;
    overflow-y: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#button-group {
    margin-bottom: 15px;
}
#button-group button {
    cursor: pointer;
    padding: 4px 8px;
}
#button-group button .material-icons {
    font-size: 16px;
    vertical-align: bottom;
}
#results {
    border-collapse: collapse;
    text-align: left;
    min-width: 170px;
}
#results thead {
    background-color: #fff;
}
#results tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}
#results tbody tr:nth-child(even) {
    background-color: #fff;
}
#results th, #results td {
    padding: 4px 6px;
}