/* common */

body {
    background: #ebebeb;
    color: #333;
    font-family: 'Raleway', SansSerif;
    font-size: 12px;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.bg-light {
    background-color: #fff !important;
}

.dropdown-toggle::after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-color: #c2c1c0;
    content: '';
    display: inline-block;
    height: 6px;
    left: 10px;
    position: relative;
    top: 0;
    transform: rotate(135deg);
    vertical-align: top;
    width: 6px;
    margin-top: 4px;
}

.highlight {
    color: #1a617d;
}

.section {
    background-color: #fff;
    padding: 15px;
}

p {
    margin-bottom: 10px;
}

/* buttons */

.btn {
    border: none;
    border-radius: 14px;
    font-size: 12px;
    text-align: left;
}

.btn .icon {
    margin-right: 10px;
}

.btn-primary {
    background: #1f83a9;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active {
    background: #1b7598;
}

/* typography */

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
    font-weight: bold;
}

.muted {
    color: #919191;
}

/* navigation */

.nav-tabs .nav-link {
    background: #d3d3d3;
    border-radius: 0;
    color: #1f83a9 !important;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 20px !important;
}

.nav-tabs .nav-link.active {
    background: #fff;
    color: #333 !important;
}

/* inputs */

input.clear {
    border: none;
    box-shadow: none;
}

input.clear:focus{
    outline: none;
}

/* select */

select.clear {
    background: none;
    border: none;
}

select.clear:focus{
    outline: none;
}

select.clear:after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-color: #c2c1c0;
    content: '';
    display: inline-block;
    height: 6px;
    left: 10px;
    position: relative;
    top: 0;
    transform: rotate(135deg);
    vertical-align: top;
    width: 6px;
    margin-top: 4px;
}

.input-wrapper {
    border: 1px solid #cccccc;
    border-radius: 14px;
}

/* badges */

.badge-pill {
    background: #fff;
    border: 1px solid #cbcbcb;
    color: #1c83a9;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 8px;
    margin-bottom: 6px;
}

.border-right {
    border-right: 1px solid #cccccc;
}

.border-bottom {
    border-bottom: 1px solid #cccccc;
}

/* icons */

.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.icon.user {
    background-image: url("../img/user.png");
    height: 22px;
    width: 23px;
}

.icon.bars {
    background-image: url("../img/bars.png");
    height: 13px;
    width: 13px;
}

.icon.computer {
    background-image: url("../img/computer.png");
    height: 19px;
    width: 20px;
}

.icon.note {
    background-image: url("../img/note.png");
    height: 20px;
    width: 20px;
}

.icon.globe {
    background-image: url("../img/globe.png");
    height: 20px;
    width: 20px;
}

.icon.search {
    background-image: url("../img/search.png");
    height: 19px;
    width: 19px;
}

.icon.filter {
    background-image: url("../img/filter.png");
    height: 19px;
    width: 20px;
}

.icon.add {
    background-image: url("../img/add-sm.png");
    height: 25px;
    width: 25px;
}

.icon.people {
    background-image: url("../img/people.png");
    height: 13px;
    width: 18px;
}

.icon.dollar {
    background-image: url("../img/dollar.png");
    height: 15px;
    width: 11px;
}

.icon.star {
    background-image: url("../img/star.png");
    height: 18px;
    width: 19px;
}

/* navbar */

.navbar-main {
    margin-bottom: 5px;
}

.nav-link {
    color: #333 !important;
    font-size: 13px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.nav-link .icon.user {
    margin-top: -4px;
    margin-right: 10px;
}

.nav-item.active .nav-link {
    font-weight: bold;
}

.subnav {
    padding-top: 0;
    padding-bottom: 0;
}

.subnav .nav-link {
    font-size: 15px;
    margin-right: 30px;
}

/* map */

.map-wrapper {
    position: relative;
    height: calc(100vh - 121px);
    margin-bottom: 20px;
    width: 100%;
}

.map {
    background: #fff;
    height: 100%;
    width: 100%;
}

/* search */

.search-container {
    background: #fff;
    border: 1px solid #cecece;
}


.map-wrapper .search-container  {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.search-container > .row {
    padding: 15px;
}

.search-container h2 {
    margin-bottom: 20px;
}

.branches .btn {
    margin-bottom: 10px;
}

.branches .btn .icon {
    margin-right: 10px;
}

.branches-list .icon {
    margin-right: 10px;
}

.location .input-wrapper .place {
    padding: 4px 4px;
}

.location .input-wrapper .place input {
    padding: 0 4px;
    width: 100%;
}

.location .radius {
    padding: 4px 4px;
}


.company {
    padding: 4px 6px;
}

.company input {
    padding: 0 30px 0 4px;
    width: 100%;
}

.company-input-wrapper {
    position: relative;
}

.company-input-wrapper .icon.add {
    cursor: pointer;
    position: absolute;
    right: 1px;
    top: 1px;
}

.filters .btn {
    padding-top: 4px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.filters .btn .icon {
    margin-right: 10px;
}

.search-results {
    background: #19617b;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.results {
    border-bottom: 1px solid #89acb9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 15px;
    font-weight: bold;
}

.view-profile {
    text-align: center;
}

.view-profile a {
    color: #fff;
    text-align: center;
}

/* search result */

.search-result {
    background: #fff;
    border: 1px solid #cecece;

}

.map-wrapper .search-result {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.search-result > .row {
    padding: 15px;
}

.img-placeholder {
    border: 1px solid #dddddd;
    height: 120px;
    width: 120px;
}

/* list of results */

.searches-container .search-container {
    margin-bottom: 10px;
}

.searches-container .search-result {
    margin-bottom: 4px;
}

.action {
    background: #19617b;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* profile */

.profile-container {
    margin-top: 10px;
}

.profile-container .main {
    margin-bottom: 25px;
}

.profile-container .main .btn {
    margin-top: 10px;
}

.company-map {
    width: 100%;
    height: 200px;
}




