html, body, .main, .map-wrapper, #map {
    height: 100%;
    width: 100%;
}

.map-wrapper {
    position: relative;
}

.map-wrapper .map-panel {
    background-color: #f9f9f9;
    margin: 0;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.map-wrapper .map-panel .btn {
    margin: 0 10px;
}

.area-info {
    line-height: 34px;
}

.area-code {
    margin-right: 10px;
}