html {
    font-size: 10px;
    overflow: hidden;
}

#gdn {
    border: 1px solid #F0F0F0;
    font-size: 1.4rem;
    position: relative;
    font-family: Roboto, Arial, sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#gdn h3 {
    font-size: 1.75rem;
}

#gdn #mapContainer {
    flex-grow: 1;
    position: relative;
    height: 100%;
}

#gdn #map {
    width: 100%;
    height: 100vh;
}

#gdn ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#gdn input:focus {
    outline: none;
}

#gdn #searchContainer {
    position: absolute;
    width: 392px;
    top: 8px;
    left: 8px;
    z-index: 3;
}

#gdn #searchContainer .fa-times {
    cursor: pointer;
    transition: all 0.3s;
}

#gdn #searchContainer .fa-times:hover {
    color: #000;
}

#gdn #productSearchBar {
    background-color: #fff;
    border-radius: 8px;
    border-bottom: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    padding: 12px;
    height: 48px;

    position: relative;
    transition-property: background,box-shadow;
    transition-duration: 0.3s;
    z-index: 2;
}

#gdn #productSearchBar .fas {
    cursor: pointer;
    visibility: hidden;
    opacity: 0.62;
    position: relative;
    top: 2px;
    font-size: 20px;
    margin-right: 20px;
}

#gdn #productSearchBar #autocomplete {
    border: none;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
}

#gdn #searchContainer #dropdown {
    display: none;
    background: #fff;
    width: 100%;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    font-size: 15px;
    overflow: hidden;
    padding: 16px 0 8px 0;
    margin-bottom: 0;
    position: relative;
    top: -8px;
    z-index: 1;
}

#gdn #searchContainer #dropdown li {
    border: none;
    position: relative;
    font-size: 12px;
    line-height: 24px;
    min-height: 24px;
    padding: 6px 4px;
    cursor: pointer;
    text-align: left;
}

#gdn #searchContainer #dropdown li:hover {
    background: #F0F0F0;
}

#gdn #searchContainer #dropdown li img {
    width: 50px;
    margin-right: 7px;
}

div#gdn #supplyChainPanel {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left: -236px;
    overflow: hidden;
    z-index: 1;
}

div#gdn #supplyChainPanel li {
    cursor: pointer;
    text-align: center;
    padding: 4px;
}

div#gdn #supplyChainPanel li:hover {
    background: #F0F0F0;
}

#gdn #infoPanel {
    background: #fff;
    box-shadow: 5px 0px 10px 3px rgba(0,0,0,0.2);
    flex-basis: 0;
    max-height: 100%;
    height: 100%;
    position: relative;
    padding-top: 64px;
    z-index: 2;
    transition: all 0.1s;
    display: flex;
    overflow: hidden;
    overscroll-behavior: contain;
}

#gdn #infoPanel .content {
    overflow: auto;
}

#gdn #infoPanel .info-wrapper {
    overflow: auto;
}

#gdn #infoPanel.open {
    flex-basis: 408px !important;
}

#gdn #infoPanel .img-preview {
    display: block;
}

#gdn #back-btn {
    transition: all 0.3s;
}

#gdn #infoPanel .slide {
    display: none;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    background: #DADCE0;
    margin: 5px auto 10px auto;
}

@media (max-width: 575px) {


    /*#gdn #supplyChainPanel img {*/
        /*max-width: 100%;*/
    /*}*/
    /*#gdn #supplyChainPanel .text {*/
        /*display: none;*/
    /*}*/
}

@media (max-width: 991px) {

    #gdn #supplyChainPanel {
        width: 100%;
        bottom: 0 !important;
        left: 0 !important;
        margin-left: 0 !important;
        border-radius: 8px 8px 0 0 !important;
    }
    #gdn #searchContainer {
        width: calc(100% - 16px) !important;
    }
    #gdn #infoPanel {
        position: absolute;
        bottom: -100%;
        height: auto;
        min-height: 100px;
    }
    #gdn #infoPanel.open {
        padding-top: 4px;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }
    #gdn #infoPanel .img-preview {
        width: 40%;
        margin: 0 auto;
    }
    #gdn #infoPanel .mobile-hidden {
        display: none;
    }
    #gdn #infoPanel.open.full-screen {
        padding-top: 64px;
        height: 100%;
    }
    #gdn #infoPanel.open.full-screen .img-preview {
        width: 100%;
    }
    #gdn #infoPanel.open.full-screen .mobile-hidden {
        display: block;
    }
    #gdn #infoPanel .slide {
        display: block;
    }
    #gdn #infoPanel.full-screen .slide {
        display: none;
    }
}

@media (max-width: 540px) {
    #supplyChainPanel .text {
        display: none;
    }
}

#infoPanel.swipe {
    overflow: hidden !important;
}

#infoPanel.swipe .mobile-hidden {
    display: block !important;
}

.scroll {
    position: absolute;
    bottom: 50px;
    left: 50%;
    background: #fff;
    border: 1px solid #000;
    color: #000;
    z-index: 10;
}

.img-journey {
    width: 30px;
    height: 30px;
}

/*scroll*/

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb
{
    background-color: #888;
}

