* {
    box-sizing: border-box;
}

html, body {
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

#wrapper {
    height: 100%;
}

#map-wrapper, #table-wrapper {
    position: relative;
}

#map-wrapper {
    height: 50%;
}

#button-wrapper {
    height: 50px;
}

#table-wrapper {
    height: calc(50% - 50px);
    overflow-y: auto;
}

#map {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

#address-search {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 2;
    width: 30%;
}

.color {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.delete {
    float: right;
}

.delete .glyphicon {
    font-size: 12px;
    margin-left: 5px;
}

.table {
    margin-bottom: 0;
}

.table.selected {
    background: #eee;
}

#button-wrapper {
    padding: 8px 5px;
    text-align: right;
}