* {
    border: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

html, body, #map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map {
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
}

.modal {
	width: 80%;
	margin: auto;
}

.mode-selected {
    background-color: lightgrey !important;
}

div.category {
/** Add style here  **/
}

h3.title-border {
    border-right: 1px solid #e7e7e7;
}

ul.marker-list, .label-list, .shape-list, .measure-list {
    max-height: 300px;
}

.name-span, .shape-span {
    width: 30%;
    margin-right: 10px;
    display: inline-block;
    word-wrap: break-word;
}

.color-span {
    width: 50px;
    height: 16px;
    line-height: 16px;
    margin-right: 25px;
    display: inline-block;
}

.measure-points {
    width: 85%;
}


#map-data {
    background: rgba(255, 255, 255, 0.6);
    height: auto;
    max-height: 300px;
    overflow: scroll;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
}

a#panel-toggle {
    display: inline-block;
    cursor: pointer;
    z-index: 5;
    left: 0;
    margin: 0;
    padding: 2px 5px;
    font-size: .9em;
    text-transform: lowercase;
    background: rgba(255, 255, 255, 0.5);
}

.navbar {
    margin-bottom: 0;
}

.file {
    display: none !important;
}

.fa-edit, .fa-trash, .fa-eye {
    margin-right: 10px;
}

.inactive {
    color: #333 !important;
}

h3 i {
    margin-left: 5px;
}

#image {
    display: none;
}

.palette {
    list-style: none;
    margin: 5px 0 0 5px;
    font-size: 0;
}

.dropdown-menu {
    padding: 0;
    max-width: 137px;
    min-width: auto !important;
}

.color {
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.dropdown-toggle {
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
}

#modal-color {
    display: none;
}

.form-horizontal .control-label {
    text-align: left !important;
}

#action-menu {
    list-style: none;
    background: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
}

#action-menu li {
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    padding: 4px 8px;
}

#action-menu li:hover {
    background: #cccccc;
}

