* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    overflow:hidden;
}

.locations {
    height: 60%;
}

.location-list {
    overflow-y: scroll;

    height: calc(100% - 51px);
}

.map-container {
    position: relative;
    height: 40%;
}

.map {
    height: 100%;
    width: 100%;
}

.user-location {
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    padding: 7px 5px 3px 5px;
    z-index: 1;
}

.location {
    padding: 16px;
    position: relative;
    transition: width 2s;
}

.location p {
    margin-bottom: 10px;
}

.location.selected {
    background: rgba(0,0,0,.1);
}

.empty-list {
    margin: 16px;
}

.current-hours {
    margin-right: 40px;
}

.toggle-hours {
    font-style: italic;
    text-decoration: none;
    color: grey;
}

.place-box {
    background: rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 16px;
}

#autocomplete {
    width: 100%;
}

.all-working-hours {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    padding: 5px;
    position: absolute;
    width: 300px;

    top: 68px;
    left: 16px;
    overflow: hidden;
    z-index: 1;

    height: 0;
    opacity: 0;

    transition: opacity 0.3s, height 1s;
}

.all-working-hours.opened {
    opacity: 1;
    height: auto;
}

.all-working-hours p {
    margin-bottom: 4px;
}

@media (min-width: 1250px) {

    .locations {
        float: left;
        height: 100%;
        width: 40%;
    }

    .map-container {
        float: right;
        height: 100%;
        width: 60%;
    }
}
